@(title: String)(implicit assetsFinder: AssetsFinder)

<div>
    <h3 class="display-3">@title</h3>
    <h3 class="mb-5">
        <small class="text-muted">Create and solve!</small>
    </h3>
    Welcome to the sudoku app, where you can solve sudoku from our huge database. You can also create your own sudoku and challenge others!

    <h6 class="mt-2">What is Sudoku?</h6>
    Sudoku is a logic-based, combinatorial number-placement puzzle. In classic sudoku, the objective is to fill a 9×9 grid with digits so that each column, each row, and each of the nine 3×3 subgrids that compose the grid contain all of the digits from 1 to 9. The puzzle setter provides a partially completed grid.

    Now, stop hesitating and just try! No personal info is needed, just your nickname.
</div>